USE [master]
GO
/****** Object:  Database [DbCustomer]    Script Date: 29.05.2026 18:41:03 ******/
CREATE DATABASE [DbCustomer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCustomer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbCustomer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCustomer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbCustomer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCustomer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCustomer]
GO
/****** Object:  Table [dbo].[TBLCİTY]    Script Date: 29.05.2026 18:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCİTY](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[CityCountry] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBLCİTY] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCUSTOMER]    Script Date: 29.05.2026 18:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerSurname] [varchar](50) NULL,
	[CustomerCity] [int] NOT NULL,
	[CustomerBalance] [decimal](18, 2) NULL,
	[CustomerStatus] [bit] NULL,
 CONSTRAINT [PK_TBLCUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLCİTY] ON 

INSERT [dbo].[TBLCİTY] ([CityID], [CityName], [CityCountry]) VALUES (1, N'ADANA', N'TÜRKİYE')
INSERT [dbo].[TBLCİTY] ([CityID], [CityName], [CityCountry]) VALUES (2, N'ANKARA', N'TÜRKİYE')
INSERT [dbo].[TBLCİTY] ([CityID], [CityName], [CityCountry]) VALUES (3, N'BERLİN', N'ALMANYA')
SET IDENTITY_INSERT [dbo].[TBLCİTY] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLCUSTOMER] ON 

INSERT [dbo].[TBLCUSTOMER] ([CustomerID], [CustomerName], [CustomerSurname], [CustomerCity], [CustomerBalance], [CustomerStatus]) VALUES (1, N'Ali', N'Yıldız', 1, CAST(250000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLCUSTOMER] ([CustomerID], [CustomerName], [CustomerSurname], [CustomerCity], [CustomerBalance], [CustomerStatus]) VALUES (3, N'Ahmet', N'Çınar', 1, CAST(356000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLCUSTOMER] ([CustomerID], [CustomerName], [CustomerSurname], [CustomerCity], [CustomerBalance], [CustomerStatus]) VALUES (4, N'Ayşe', N'Kayalı', 4, CAST(285000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBLCUSTOMER] OFF
GO
ALTER TABLE [dbo].[TBLCUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_TBLCUSTOMER_TBLCİTY] FOREIGN KEY([CustomerCity])
REFERENCES [dbo].[TBLCİTY] ([CityID])
GO
ALTER TABLE [dbo].[TBLCUSTOMER] CHECK CONSTRAINT [FK_TBLCUSTOMER_TBLCİTY]
GO
/****** Object:  StoredProcedure [dbo].[CustomerListWİthCity]    Script Date: 29.05.2026 18:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomerListWİthCity]
as

select CustomerID,CustomerName,CustomerSurname,CityName,CustomerBalance,CustomerStatus from TBLCUSTOMER 
inner join TBLCİTY ON TBLCİTY.CityID=TBLCUSTOMER.CustomerCity
GO
USE [master]
GO
